:root {
  --accent-color: #733a19;
  --white-color: #ffffff;
  --default-background-color: #f8f3ed;
  --default-color-A: #f1e7da;
  --default-color-B: #eadbc8;
  --default-color-C: #dcc3a3;
  --default-text-color: #000000;
}
