:root {
  --accent-color: #733a19;
  --white-color: #ffffff;
  --default-background-color: #f8f3ed;
  --default-color-A: #f1e7da;
  --default-color-B: #eadbc8;
  --default-color-C: #dcc3a3;
  --default-text-color: #000000;

  --title-font: 36px;
  --excerpt-font: 32px;
  --big-description-font: 24px;
  --small-description-font: 20px;
  --button-font: 22px;

  --title-font-medium: 32px;
  --excerpt-font-medium: 28px;
  --big-description-font-medium: 20px;
  --small-description-font-medium: 16px;
  --button-font-medium: 18px;

  --title-font-small: 28px;
  --excerpt-font-small: 24px;
  --big-description-font-small: 16px;
  --small-description-font-small: 14px;
  --button-font-small: 16px;
}
