.wrapper {
  height: 60px;
  width: 250px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  background-color: var(--default-color-B);
  h3 {
    font-weight: 400;
  }
  .iconWrapper {
    position: relative;
    height: 40px;
    width: 35px;

    @media screen and (max-width: 1005px) {
      height: 40px;
      width: 30px;
    }
  }
}

@media screen and (max-width: 1550px) {
  .wrapper {
    width: 220px;
  }
}

@media screen and (max-width: 1405px) {
  .wrapper {
    width: 200px;
    h3 {
      font-size: var(--small-description-font-medium);
    }
  }
}

@media screen and (max-width: 820px) {
  .wrapper {
    width: 170px;
    h3 {
      font-size: var(--small-description-font-small);
    }
  }
}
