.wrapper {
  position: relative;
  margin: 0;
  z-index: 0;
  background-color: var(--default-background-color);
  height: 100%;

  h1 {
    margin: 0;
  }
  .content {
    outline: 1px solid red;
    width: 100%;
    // height: 100vh; // later could provide to issues, when page go outside vh
    max-width: 2000px;
    margin: auto;
    z-index: 2;
    padding: 0 5%;
  }
}
