.buttonWrapper {
  height: 45px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #733a19;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
