.wrapper {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;

  .description {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
    h1,
    p {
      margin: 0;
    }
  }
}

.iconWrapper {
  position: relative;
  height: 300px;
  width: 300px;

  @media screen and (max-width: 1400px) {
    height: 250px;
    width: 250px;
  }

  @media screen and (max-width: 1005px) {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    gap: 40px;

    .description {
      gap: 30px;
    }
  }
}

@media screen and (max-width: 1005px) {
  .wrapper {
    gap: 40px;

    .description {
      width: 300px;
      gap: 30px;
    }
  }
}
