.wrapper {
  position: relative;

  min-height: 450px;

  svg {
    color: var(--default-background-color);
  }
}

.titleWrapper {
  width: 100%;
  margin-top: 20px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;

  h1 {
    width: 10%;
  }

  .line {
    height: 2px;
    border-bottom: 3px solid black;
    width: 80%;
  }
}

.innerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.article {
  flex: 1;
  h2 {
    margin: 0;
  }
}

.tileWrapper {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 1400px) {
  .tileWrapper {
    width: 450px;
    gap: 20px;
  }
  .titleWrapper {
    width: 100%;
    margin-top: 15px;
    height: 90px;
    gap: 10%;

    h1 {
      width: 15%;
    }

    .line {
      width: 75%;
    }
  }
}

@media screen and (max-width: 1005px) {
  .tileWrapper {
    width: 350px;
  }
  .titleWrapper {
    width: 100%;
    margin-top: 15px;
    height: 70px;
    gap: 10%;

    h1 {
      width: 15%;
    }

    .line {
      width: 75%;
    }
  }
}

@media screen and (max-width: 750px) {
  .tileWrapper {
    width: 250px;
  }
  .innerWrapper {
    gap: 5px;
  }
}
