.wrapper {
  position: relative;

  height: fit-content;
  min-height: 450px;

  svg {
    color: var(--default-color-A);
  }

  h2 {
    font-weight: 400;
  }
}

.contentWrapper {
  padding: 80px 0;
  width: 100%;

  display: flex;
  gap: 50px;
}

.leftSection {
  padding-top: 20px;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  .line {
    height: 2px;
    border-bottom: 3px solid black;
    width: 80%;
  }

  .tileWrapper {
    width: 100%;
    display: flex;
    gap: 30px;

    justify-content: space-between;
  }
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;

  h1 {
    width: 10%;
  }

  h1,
  h2,
  p {
    margin: 0;
  }
}

.titleWrapperBigScreen {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}

.titleWrapperMidScreen {
  display: none;
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  .midTilesWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

.displayOnBiggerScreen {
  display: flex;
}

.displayOnMediumScreen {
  display: none;
}

@media screen and (max-width: 1005px) {
  .displayOnBiggerScreen {
    display: none;
  }
  .displayOnMediumScreen {
    display: flex;
  }
  .contentWrapper {
    padding: 40px 0;
  }
  .titleWrapperBigScreen {
    display: none;
  }
  .titleWrapperMidScreen {
    display: flex;
  }
}
